<div class="container">
    <div class="catalog-inner">

        <app-search-bar></app-search-bar>

        <div class="categories">

            <div class="catalog-item">
                <div class="catalog-title">
                    Trending courses
                </div>
                <div *ngIf="recCourses" class="trending-content">

                    <div *ngFor="let course of recCourses"class="course-card">
                        <div class="card-header">
                            <img src="../../../../../assets/images/course/course-icon.png" class="card-icon">
                            <div class="card-hours">
                                {{ course.duration }}
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-title">
                                {{ course.title }}
                            </div>
                            <div class="card-description">
                                {{ course.description }}
                            </div>
                        </div>
                        <div class="card-bottom">
<!--                            <button routerLink="{{ course.id }}/{{ course.modules[0].id }}/1" class="card-btn">-->
<!--                                Learn more-->
<!--                            </button>-->
                            <button routerLink="{{course.id}}" class="card-btn">
                                Learn more
                            </button>
                            <div class="card-info">
                                <div class="card-info-item">
                                    Rating: {{ course.rating }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="catalog-item">
                <div class="catalog-header">
                    <div class="catalog-title">Categories</div>
                    <div class="categories-content">
                        <div *ngFor="let category of categories" class="categories-item">
                            {{ category.name }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
