<div class="container">
    <div class="catalog-inner">

        <app-search-bar></app-search-bar>

        <div class="categories">

            <div class="catalog-item">
                <div class="catalog-title">
                    Trending courses
                </div>
                <div class="catalog-content trending-content">

                    <div class="course-card">
                        <div class="card-header">
                            <img src="../../../../../assets/images/course/course-icon.png" class="card-icon">
                            <div class="card-hours">
                                10 hrs
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-title">
                                Angular course
                            </div>
                            <div class="card-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                        <div class="card-bottom">
                            <button class="card-btn">
                                Learn more
                            </button>
                            <div class="card-info">
                                <div class="card-info-item">
                                    4.5
                                </div>
                                <div class="card-info-item">
                                    10k
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-card">
                        <div class="card-header">
                            <img src="../../../../../assets/images/course/course-icon.png" class="card-icon">
                            <div class="card-hours">
                                10 hrs
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-title">
                                Angular course
                            </div>
                            <div class="card-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                        <div class="card-bottom">
                            <button class="card-btn">
                                Learn more
                            </button>
                            <div class="card-info">
                                <div class="card-info-item">
                                    4.5
                                </div>
                                <div class="card-info-item">
                                    10k
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-card">
                        <div class="card-header">
                            <img src="../../../../../assets/images/course/course-icon.png" class="card-icon">
                            <div class="card-hours">
                                10 hrs
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-title">
                                Angular course
                            </div>
                            <div class="card-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                        <div class="card-bottom">
                            <button class="card-btn">
                                Learn more
                            </button>
                            <div class="card-info">
                                <div class="card-info-item">
                                    4.5
                                </div>
                                <div class="card-info-item">
                                    10k
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-card">
                        <div class="card-header">
                            <img src="../../../../../assets/images/course/course-icon.png" class="card-icon">
                            <div class="card-hours">
                                10 hrs
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-title">
                                Angular course
                            </div>
                            <div class="card-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                        <div class="card-bottom">
                            <button class="card-btn">
                                Learn more
                            </button>
                            <div class="card-info">
                                <div class="card-info-item">
                                    4.5
                                </div>
                                <div class="card-info-item">
                                    10k
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-card">
                        <div class="card-header">
                            <img src="../../../../../assets/images/course/course-icon.png" class="card-icon">
                            <div class="card-hours">
                                10 hrs
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-title">
                                Angular course
                            </div>
                            <div class="card-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                        <div class="card-bottom">
                            <button class="card-btn">
                                Learn more
                            </button>
                            <div class="card-info">
                                <div class="card-info-item">
                                    4.5
                                </div>
                                <div class="card-info-item">
                                    10k
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-card">
                        <div class="card-header">
                            <img src="../../../../../assets/images/course/course-icon.png" class="card-icon">
                            <div class="card-hours">
                                10 hrs
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-title">
                                Angular course
                            </div>
                            <div class="card-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                        <div class="card-bottom">
                            <button class="card-btn">
                                Learn more
                            </button>
                            <div class="card-info">
                                <div class="card-info-item">
                                    4.5
                                </div>
                                <div class="card-info-item">
                                    10k
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="catalog-item">
                <div class="catalog-header">
                    <div class="catalog-title">Categories</div>
                    <div class="catalog-item">
                        <app-empty-block></app-empty-block>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
