<div class="container edit-lesson-outer ">

    <div class="left-menu">

        <div *ngFor="let module of this.courseData.modules; let i=index" class="module-block">
            <span routerLinkActive="true" class="module-link">{{module.title}}</span>
            <a *ngFor="let lesson of this.modulesData[i].lessons; let j=index" routerLink="/teaching/edit/{{this.courseId}}/{{module.id}}/{{j+1}}" routerLinkActive="true" class="lesson-link">{{lesson.title}}</a>
        </div>

    </div>

    <div class="lesson-body">

        <div class="steps-body">

            <button (click)="addText()" class="primary-btn top-btn">Add text</button>

            <form [formGroup]="form">
                <div formArrayName="texts">
                    <div *ngFor="let text of texts().controls; let i=index" [formGroupName]="i" class="text-field">
                        <angular-editor formControlName="text" [config]="editorConfig"></angular-editor>
                    </div>
                </div>
            </form>

            <div class="steps-bottom">
                <button (click)="submit()" class="primary-btn">
                    Save
                </button>
            </div>

        </div>

    </div>

</div>
