<div class="container edit-lesson-outer ">

    <div class="left-menu">
        <a routerLink="/teaching/edit/1" routerLinkActive="true" class="module-link">Module 1</a>
        <a routerLink="/teaching/edit/1/1" routerLinkActive="true" class="lesson-link">Lesson 1</a>
        <a routerLink="/teaching/edit/1/2" routerLinkActive="true" class="lesson-link">Lesson 2</a>
        <a routerLink="/teaching/edit/1/3" routerLinkActive="true" class="lesson-link">Lesson 3</a>
    </div>

    <div class="lesson-body">

        <div class="steps-nav">
            <a *ngFor="let step of steps; let i=index" routerLink="{{i+1}}" class="step-item">{{i+1}}</a>
        </div>

        <div class="steps-body">
            <angular-editor id="editor1" [config]="editorConfig"></angular-editor>
        </div>

    </div>

</div>
