@import './variables';

button {
  font-size: 1rem;
}

.primary-btn {
  background: $primary;
  border: 2px solid $primary;
  border-radius: $border-radius;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background: #fff;
    border-color: #000;
    color: #000;
  }
}
